.env
*.log
target/

offermate-server/target/
offermate-server/src/main/resources/application-dev.yml
offermate-server/src/main/resources/application-local.yml
offermate-server/src/main/resources/application-prod.yml

node_modules/
dist/
.idea/
.vscode/
*.iml

offermate-web/node_modules/
offermate-web/dist/
offermate-web/.env
offermate-web/.env.local
